/* Tailwind core */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Demos */
@import "demos/demo1";

/* Shadcn UI */
@import "shadcn.ui";

/* Light mode styles */
.dropdown__control {
  border: 1px solid #dbdfe9 !important;
  border-radius: 0.375em !important;
  min-height: 2.5rem !important;
  background-color: #ffffff;
}

.dropdown__control .dropdown__value-container .dropdown__placeholder {
  font-size: 13px;
  color: rgba(75, 86, 117, 0.6);
  font-family: "Inter", sans-serif !important;
  font-weight: 500;
}

/* Dark mode styles */
.dark .react-select .dropdown__control {
  border: 1px solid #363848 !important;
  background-color: #1f212a !important;
}

.dark .react-select .dropdown__control .dropdown__value-container .dropdown__placeholder {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.3);
  font-family: "Inter", sans-serif !important;
  font-weight: 500;
}

.dark .react-select .dropdown__control .dropdown__value-container .dropdown__single-value {
  color: white !important;
  font-size: 14px;
  font-weight: 500;
}

.dark .react-select .dropdown__menu {
  background-color: #1f212a;
}

.dark .react-select .dropdown__menu .dropdown__menu-list .dropdown__option {
  color: white;
}

.dark .react-select .dropdown__menu .dropdown__menu-list .dropdown__option--is-focused {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
